# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environment
.venv/
env/
venv/
ENV/
*.env

# Django specific
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# Pytest cache
.pytest_cache/
.cache/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
